.list:first-child {
  margin-top: 30px;
}

.list-item {
  width: 100%;
  border-bottom: 1px solid #CCC;
}

.list-item button .material-icons {
  font-size: 16px;
  padding: 0;
  margin-top: 5px;
}

.list-item:hover button {
  display: block;
}

.list-item button {
  display: none;
  float: right;
  margin: 0px 5px;
  width: 30px;
  height: 30px;
}

.list-item /deep/ .md-checkbox-label {
  margin: 10px 0;
}

.completed {
  color: #9d9d9d;
  text-decoration: line-through;
}

.fab-add {
  position: absolute;
  right: 30px;
  top: 35px;
}
