<mat-card class="todoapp">
  <mat-toolbar color="primary">
    {{title}}
    <button mat-fab class="fab-add" (click)="todoDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card-content *ngIf="todoList.length">
    <mat-list class="list">
      <form>
        <mat-list-item *ngFor="let todo of todoList; let index=index" class="list-item">

          <mat-checkbox color="primary" type="checkbox" [name]="'item'+index" [(ngModel)]="todo.completed" (change)="completedTodo(todo)">
            <span [class.completed]="todo.completed">{{todo.title}}</span>
          </mat-checkbox>

          <span>
           <button mat-mini-fab (click)="removeTodo(todo.id)" color="primary">
             <mat-icon>delete_forever</mat-icon>
           </button>

           <button mat-mini-fab (click)="todoDialog(todo)" color="primary"
                   [disabled]="todo.completed == true">
             <mat-icon>mode_edit</mat-icon>
           </button>
         </span>

        </mat-list-item>
      </form>
    </mat-list>
  </mat-card-content>
</mat-card>

<app-dialog [title]="dialogTitle"
            [placeholder]="'Enter text here'"
            [okText]="okButtonText"
            [value]="fieldValue"
            (valueEmitted)="todoUpdated($event)"
            [showPrompt]="showDialog">
</app-dialog>

<router-outlet></router-outlet>
